* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
body{
  background-color: #1e3f75;
  background-image: radial-gradient(at 0% 20%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
  radial-gradient(at 82% 65%, hsl(220.00, 0%, 0%) 0, transparent 55%);
}

/*nav bar*/
#logo{
  width: 72px;
  height: 40px;
  margin: 0px 20px ;
  padding: 0;
  border-radius: 20px;
}

.ml-auto{
  margin-left: auto;
}

.nav-item{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 06px 20px 0px 20px;

}

.navbar .navbar-nav .nav-link{
  color: white;
}


.navbar .navbar-nav .nav-link:hover{
  color: rgba(32,140,140,0.5);
}

#nav-about{
  color:  rgba(32,140,140,1);
}

.navbar{
  background-color: rgba(0, 0, 0, 0.6) !important;
  padding: 0;
}


#about{
  background-image: url('../images/aboutback.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  padding-bottom: 60px;
  padding-top: 20px;
  
  
}
.who-we-are{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 45, 45, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.team-btn NavLink{
  color: rgba(32,140,140,1);
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 16px;
  width: 130px;
  border-color: rgba(32,140,140,1);
  margin-top: 20px; 
}
.team-btn NavLink:hover{
  background-color: rgba(32,140,140,1);
  border-color: rgba(32,140,140,1);
  border-color: white;
}
#about h2{
  color: rgb(255, 255, 255);
  font-weight: bolder ;

}
#imageanimated{
  animation:MoveUpDown 5s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
}

.btn{
  background-color: white;
  width: 200px;
    border-radius: 25px;
}

.container{
  margin-top: 40px;
 
}
.slide {
  display: none;
}
.cursor {
  cursor: pointer;
}
.dot {
  opacity: 0.6;
  padding: 0px 15px;
  
}
.active,
.dot:hover {
  opacity: 1;

}

.items{
    overflow: hidden;
    background-color: rgb(4, 49, 43);
    padding: 0px 50px;
    
 }
.items h4{
    color:white;
    text-align: center;
    
    
}
#aboutus h4{
  font-weight: bold;
}
.card{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    overflow: hidden;
    border-radius: 25px;
    height: 363px;
    width: 272px;
    margin: auto;
}
.img1 img{
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}
.card:hover .img2 img{
    border-color: rgb(72, 99, 99);
    transition: .7s;
}
.main-text{
    padding: 15px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    margin: 0 0 20px;
}
.main-text p{
    font-style: italic;
    font-size: 14px;
    padding: 0 15px;
}
.items ul{
  text-align: center;
  margin:0cm;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 0;
}

.items ul li{
  list-style: none;
  display: inline-block;
}

.slide{
  padding: 0;
  padding: 0;
  margin: auto;
}
.card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-area{
  flex: 1 1 33%;
  padding: 0px 10px;
}
.profile-area h2, .profile-area p{
  color: rgb(16, 82, 82);
}
.socials ul{
  padding: 0;
  margin: 0;
}
.socials ul li{
  
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

/*--footer*/
.footer{
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100vw;
}
.form-control{
  border-right: none;
}
.send-email{
background-color: transparent;
margin-top: 0 !important;
}
.send-email:hover,.send-email.focus,.send-email.active{
  background-color: transparent;
  color:rgba(32,140,140,1);
  font-size: small;
}

.footer-page-links ul li,.social-media ul li{
  list-style: none;
  display: inline-block;
}


.footer-page-links ul li a,.social-media ul li a{
  color: white;
  padding: 0 10px;
  text-decoration: none;
}

.footer-page-links ul li a:hover,.social-media ul li a:hover{
  color: rgba(32,140,140,1);
}
.input-group-append button{
  width: auto;
}

.footer-page-links{
  font-size: 15px;
}

.copyright, .copyright a{
  color: rgba(225, 255, 255, .8);
  font-size: 10px;
  text-decoration: none;
  
}

/*--media quaries--*/
@media only screen and (max-width: 768px) {
  .form{
      max-width: 40%;
      margin: auto;
  }
}

@media only screen and (max-width: 660px) {
  .form{
      max-width: 300px;
      margin: auto;
  }
}
@media only screen and (max-width: 440px){
  
  .message{
      top: 15%;
      left: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .btn-set{
      top: 35%;
      left: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 0px 5px;
  }
  .btn-set ul li{
      text-align: center;
     padding: 8px; 
  }
  .btn-set ul{
      margin: 0;
      padding: 0;
      font-size: 2px;
  }
  .col1{
      flex: 100%;
      max-width: 100%;

  }
  .row1{
      flex: 100%;
      max-width: 100%;
  }
  
  #g-btn button,#v-btn button,#s-btn button,#q-btn button{
      width: 150px;
      border-radius: 25px;
      font-size: 20px;
      padding: 3px;
  }
  #g-btn button{
      background-color: rgba(32,140,140,1);
  }
  #g-btn button:hover{
      background-color: white;
  }
  #v-btn button{
      background-color: transparent;
  }

}

@media screen  and (max-width: 576px) and (min-width: 440px){
  .message{
      left: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0px 5px;
  }
  .btn-set{
      left: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  .btn-set ul li{
      text-align: center;
  }
  .btn-set ul{
      margin: 0;
      padding: 0;
  }
  .row1 ul li{
      margin: 0;
  }
  .col1 ul li{
      margin: 0;
      padding-left: 7px;
  }
  

}

/*media quaries- profile card*/
@media screen  and (max-width: 756px){
  .card-box{
    margin-bottom: 20px;
  }
}




