*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* nav bar css*/
#logo{
    width: 40px;
    height: 40px;
    margin: 0px 20px ;
    padding: 0;
}

.ml-auto{
    margin-left: auto;
}

.nav-item{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 06px 20px 0px 20px;

}

.navbar .navbar-nav .nav-link{
    color: white;
}


.navbar .navbar-nav .nav-link:hover{
    color: rgba(32,140,140,0.5);
}

#nav-grammer{
    color:  rgba(32,140,140,1);
}

.navbar{
    background-color: rgba(0, 0, 0, 0.6) !important;
    padding: 0;
}
/* nav bar css end*/
  
body{
background-image: linear-gradient(to top right,#1f2222, #1f8787);
height: 100%;
}
/* Main Title CSS "Grammer" */
.container{
    position: relative;
    top: 35px;
}

/* right side menu CSS */
.menu{
background-color:#1f2222;
padding: 0;
}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.menu #tense-btn{
border: none;
padding: 8px 8px 10px 15px;
background-color:#1f2222;
color: #ffffff;
transition: .5s;
cursor: pointer;

}
/* Menu Items CSS */
.menu li {
padding: 8px 8px 10px 15px;
background-color: #1f2222;
color: #ffffff;
transition: .5s;
cursor: pointer;
}
.accordion-body{
padding: 0;
}
/* When hover and active Main menu Items */
.menu #tense-btn:hover, .dot.active, .menu li:hover{
background-color: #1f8888;
}
/* Sub menu Items container inside of Tenses tab */
.accordion-item{
background-color: #1f2222;
}
/* Sub menu Items */
.menu .accordion-item li{
    padding: 8px;
    background-color: #1f2222;
    color: #ffffff;
    text-align: center;
    transition: .5s;
    cursor: pointer;
}
/* when Sub menu Items active */
.menu .accordion-item .dot.active{
background-color:#ffffff;
color: #1f2222;
border-radius: 12px;
}
/* when Sub menu Items hover */
.menu .accordion-item li:hover{
background-color:#c7c7c7;
color: #1f2222;
border-radius: 12px;
}

.slide{
display: none;
}

/* footer CSS */

.footer {
width: 100%;
background-color: #0099cc;
color: #ffffff;
text-align: center;
font-size: 12px;
padding: 15px;
position: relative;
}
    