table,th,td{
    padding: 10px; 
    border: 2px solid white; 
    border-collapse: collapse; 
    color:black;
    text-align: center; 
    cursor: pointer; 
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

th{
    background-color: #838BC2; 
}
table tr:nth-child(even){ 

    background-color:#C9D9F0; 
}

table tr:nth-child(odd){ 

    background-color: #EAE7FA; 
}

p{
    color:white;
}

.d-flex{
    color:rgb(231, 171, 91);
}

h2{
    font-weight: bold;
    color: white;
    
}

h1{
    color: white;
}

li{
    color: white;
}
h3,h4,h5,h6{
    font-weight: bold;
    color: white;

}
